@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

main {
  min-height: 100vh;
}

.card-component {
  min-height: 100vh;
  max-width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 900px) {
  .card-component {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    max-width: 100%;
  }
}

.card-component .card-preview {
  position: relative;
  height: 14rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bg-main-mobile.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-height: 100vh;
    background: url(../images/bg-main-desktop.png) no-repeat;
    background-size: cover;
  }
}

.card-component .card-preview .card-back {
  position: absolute;
  top: 2rem;
  right: 1rem;
  min-height: 9rem;
  width: 16rem;
  padding: 1.3rem;
  border-radius: 5px;
  background: url(../images/bg-card-back.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-back {
    width: 100%;
    aspect-ratio: 16/9;
    top: 50%;
    right: -50%;
    margin-top: 1rem;
  }
}

.card-component .card-preview .card-back .cvc-no {
  font-size: 0.6rem;
  letter-spacing: 1px;
  padding: 0.5rem;
  color: #dedddf;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-back .cvc-no {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .card-component .card-preview .card-back .cvc-no {
    font-size: 1rem;
    padding: 2rem;
  }
}

.card-component .card-preview .card-front {
  position: absolute;
  left: 1rem;
  right: 0;
  bottom: -2.1rem;
  min-height: 9rem;
  width: 16rem;
  padding: 1.3rem;
  border-radius: 5px;
  background: url(../images/bg-card-front.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-front {
    width: 100%;
    aspect-ratio: 16/9;
    bottom: 50%;
    left: 100%;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    margin-bottom: 1rem;
  }
}

.card-component .card-preview .card-front .logo {
  height: 1.7rem;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-front .logo {
    height: auto;
  }
}

.card-component .card-preview .card-front .card-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1rem;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-front .card-info {
    gap: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  .card-component .card-preview .card-front .card-info {
    gap: 2rem;
  }
}

.card-component .card-preview .card-front .card-info .c-no {
  letter-spacing: 1px;
  color: white;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-front .card-info .c-no {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1300px) {
  .card-component .card-preview .card-front .card-info .c-no {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

.card-component .card-preview .card-front .card-info .name-expiry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-component .card-preview .card-front .card-info .name-expiry .c-name,
.card-component .card-preview .card-front .card-info .name-expiry .e-date {
  font-size: 0.6rem;
  font-weight: 103;
  letter-spacing: 1px;
  color: #dedddf;
}

@media screen and (min-width: 900px) {
  .card-component .card-preview .card-front .card-info .name-expiry .c-name,
  .card-component .card-preview .card-front .card-info .name-expiry .e-date {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1400px) {
  .card-component .card-preview .card-front .card-info .name-expiry .c-name,
  .card-component .card-preview .card-front .card-info .name-expiry .e-date {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}

.card-component .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem 0;
}

@media screen and (min-width: 900px) {
  .card-component .right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding: 0;
    max-height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-component .right .card-details-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1.2rem;
  padding: 0 1.5rem;
}

@media screen and (min-width: 900px) {
  .card-component .right .card-details-form {
    max-width: 25rem;
  }
}

@media screen and (min-width: 1100px) {
  .card-component .right .card-details-form {
    max-width: 30rem;
  }
}

.card-component .right .card-details-form .card-name,
.card-component .right .card-details-form .card-num,
.card-component .right .card-details-form .exp,
.card-component .right .card-details-form .cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5rem;
}

.card-component .right .card-details-form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #21092f;
}

.card-component .right .card-details-form #name,
.card-component .right .card-details-form #card-number,
.card-component .right .card-details-form #month,
.card-component .right .card-details-form #year,
.card-component .right .card-details-form #CVC {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #dedddf;
  border-radius: 5px;
}

.card-component .right .card-details-form #name:focus,
.card-component .right .card-details-form #card-number:focus,
.card-component .right .card-details-form #month:focus,
.card-component .right .card-details-form #year:focus,
.card-component .right .card-details-form #CVC:focus {
  outline: 1px solid #6448fe;
}

.card-component .right .card-details-form #name::-webkit-input-placeholder,
.card-component .right .card-details-form #card-number::-webkit-input-placeholder,
.card-component .right .card-details-form #month::-webkit-input-placeholder,
.card-component .right .card-details-form #year::-webkit-input-placeholder,
.card-component .right .card-details-form #CVC::-webkit-input-placeholder {
  font-size: 1rem;
  color: #dedddf;
}

.card-component .right .card-details-form #name:-ms-input-placeholder,
.card-component .right .card-details-form #card-number:-ms-input-placeholder,
.card-component .right .card-details-form #month:-ms-input-placeholder,
.card-component .right .card-details-form #year:-ms-input-placeholder,
.card-component .right .card-details-form #CVC:-ms-input-placeholder {
  font-size: 1rem;
  color: #dedddf;
}

.card-component .right .card-details-form #name::-ms-input-placeholder,
.card-component .right .card-details-form #card-number::-ms-input-placeholder,
.card-component .right .card-details-form #month::-ms-input-placeholder,
.card-component .right .card-details-form #year::-ms-input-placeholder,
.card-component .right .card-details-form #CVC::-ms-input-placeholder {
  font-size: 1rem;
  color: #dedddf;
}

.card-component .right .card-details-form #name::placeholder,
.card-component .right .card-details-form #card-number::placeholder,
.card-component .right .card-details-form #month::placeholder,
.card-component .right .card-details-form #year::placeholder,
.card-component .right .card-details-form #CVC::placeholder {
  font-size: 1rem;
  color: #dedddf;
}

.card-component .right .card-details-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.card-component .right .card-details-form .form-group .exp {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.card-component .right .card-details-form .form-group .exp .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.card-component .right .card-details-form .form-group .cvc {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.card-component .right .card-details-form .confirmBtn {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
  background: #21092f;
}

footer {
  display: none;
}

.error {
  display: none;
  font-size: 0.8rem;
  color: #ff5252;
}

.thankYou-card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.thankYou-card .message {
  text-align: center;
}

.thankYou-card .message .heading {
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.thankYou-card .message .caption {
  color: #8e8593;
}

.thankYou-card a {
  width: 100%;
}

.thankYou-card a .continueBtn {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
  background: #21092f;
}

.error-active input {
  border: 1px solid #ff5252 !important;
}

.error-active input:focus {
  outline: 0.5px solid #ff5252 !important;
}

.error-active .error {
  display: Block;
  font-size: 0.8rem;
  color: #ff5252;
}

.input-err {
  border: 1px solid #ff5252 !important;
}

.input-err:focus {
  outline: 0.5px solid #ff5252 !important;
}

.err-active .error {
  display: Block;
  font-size: 0.8rem;
  color: #ff5252;
}

.active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active .card-details-form {
  display: none !important;
}

.active .thankYou-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
/*# sourceMappingURL=style.css.map */